*.out
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.strong-pm
npm-debug.log
*.json~
*.js~
*.target
*.Makefile
!nodemsi.sln
*.suo
!custom_actions.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
ipch/
*.sdf
*.opensdf
*.pdb
*.obj
*.ncb
*.ilk
*.exe
*.pch
*.idb
*.user
Debug/
Release/
*.sln